aiohttp==3.9.3
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.0.8
async-lru==2.0.4
async-timeout==4.0.3
attrs==22.2.0
Babel==2.15.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.7.0
cachetools==5.3.2
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
dataclasses-json==0.6.4
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
dnspython==2.6.1
duckdb==0.9.2
email_validator==2.1.1
entrypoints==0.4
executing==1.1.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.16.2
filelock==3.13.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
gitdb==4.0.11
GitPython==3.1.41
groq==0.4.0
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
huggingface-hub==0.20.3
idna==3.4
importlib-metadata==7.0.1
install==1.3.5
ipykernel==6.16.1
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isoduration==20.11.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.18.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server==2.4.0
jupyter_client==7.4.4
jupyter_core==4.12
jupyter_server_terminals==0.5.3
jupyterlab==4.2.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.27.1
langchain==0.1.5
langchain-community==0.0.19
langchain-core==0.1.21
langsmith==0.0.87
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.20.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
mysql-connector-python==8.4.0
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.2
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.2.1
nltk==3.8.1
notebook==6.5.1
notebook_shim==0.2.0
numpy==1.23.4
openai==1.12.0
orjson==3.10.3
overrides==7.7.0
packaging==23.2
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pinecone-client==3.0.2
platformdirs==4.2.2
prometheus-client==0.15.0
prompt-toolkit==3.0.31
protobuf==4.25.2
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydeck==0.8.1b0
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytz==2022.5
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.1
referencing==0.35.1
regex==2023.12.25
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.18.1
safetensors==0.4.2
scikit-learn==1.4.0
scipy==1.12.0
Send2Trash==1.8.0
sentence-transformers==2.3.1
sentencepiece==0.1.99
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.25
sqlparse==0.4.4
stack-data==0.5.1
starlette==0.37.2
streamlit==1.31.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
terminado==0.16.0
threadpoolctl==3.2.0
tiktoken==0.6.0
tinycss2==1.2.1
tokenizers==0.15.1
toml==0.10.2
toolz==0.12.1
torch==2.2.0
tornado==6.2
tqdm==4.66.1
traitlets==5.6.0
transformers==4.37.2
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
uri-template==1.3.0
urllib3==2.2.0
uvicorn==0.29.0
uvloop==0.19.0
validators==0.22.0
watchfiles==0.21.0
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.4.1
websockets==12.0
widgetsnbextension==4.0.3
yarl==1.9.4
zipp==3.17.0
